.item {
    background: white;
    border-radius: 5%;
    color: black;
    display: flex;
    flex-direction: column;
    flex: 1  1 25%;
    justify-content: space-around;
    margin: 25px;
    min-width: 200px;
    padding: $s-size;
    text-align: center;
}

.item__image {
    margin-bottom: 10px;
    max-width: 100%;
}

.item__button {
    display: none;
}

.item:hover {
    position: relative;
    .item__button {
        display: inline-block;
        position: absolute;
        border: none;
        background: $primary;
        color: white;
        padding: 10px;
        max-width: 100%;
        outline: none;
        top: 50%;
        right: 0%;
        border-radius: 10%;
    }
}

.item__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.item__name {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

.item__price {
    font-size: 16px;
    font-style: italic;
    margin: 10px 0;
    text-align: right;
}

